# Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tqdm.auto as tqdm
import os
import warnings
warnings.filterwarnings('ignore')

In [9]:
df_hdfc=pd.read_csv('/kaggle/input/data-cleaning-historical/Cleaned_RELIANCE.NS_Max.csv')

In [10]:
df_hdfc.head(5)

         Date      Open      High       Low     Close  Adj Close     Volume
0  1995-12-31  7.319124  7.358397  7.270925  7.345901   4.617048  104121369
1  1996-01-01  7.328050  7.363753  7.235222  7.288776   4.581145  168743308
2  1996-01-02  7.408381  7.745775  7.328050  7.344116   4.615928  209323879
3  1996-01-03  7.274495  7.297702  7.178097  7.276280   4.573291  216900264
4  1996-01-04  7.247718  7.247718  7.163816  7.226296   4.541874  166708467

# Preprocessing/Adding prefic to coloumns

In [6]:
df_hdfc = df_hdfc.add_prefix('HDFC_')

In [13]:
def add_prefix_function(data,prefix):
    return data.add_prefix(prefix)

In [14]:
df_hdfc = add_prefix_function(df_hdfc, "HDFC_")

In [15]:
df_hdfc.head(5)

,HDFC_Date,HDFC_Open,HDFC_High,HDFC_Low,HDFC_Close,HDFC_Adj Close,HDFC_Volume
0,1995-12-31,7.319124,7.358397,7.270925,7.345901,4.617048,104121369
1,1996-01-01,7.328050,7.363753,7.235222,7.288776,4.581145,168743308
2,1996-01-02,7.408381,7.745775,7.328050,7.344116,4.615928,209323879
3,1996-01-03,7.274495,7.297702,7.178097,7.276280,4.573291,216900264
4,1996-01-04,7.247718,7.247718,7.163816,7.226296,4.541874,166708467

In [16]:
import glob
list_to_make_changes=glob.glob('/kaggle/input/data-cleaning-historical/*.csv')

In [17]:
print(list_to_make_changes)

['/kaggle/input/data-cleaning-historical/Cleaned_NSEI_MAX.csv', '/kaggle/input/data-cleaning-historical/Cleaned_IXIC_Max.csv', '/kaggle/input/data-cleaning-historical/Cleaned_HDFCBANK.NS_MAX_NSE.csv', '/kaggle/input/data-cleaning-historical/Cleaned_GSPC_Max.csv', '/kaggle/input/data-cleaning-historical/Cleaned_BSESN_Max.csv', '/kaggle/input/data-cleaning-historical/Cleaned_RELIANCE.NS_Max.csv', '/kaggle/input/data-cleaning-historical/Cleaned_RUT_Max.csv']

In [18]:
prefix=[]
for i in list_to_make_changes:
    filename=os.path.basename(i)
    prefix.append(filename.split('_')[1])

In [19]:
print(prefix)

['NSEI', 'IXIC', 'HDFCBANK.NS', 'GSPC', 'BSESN', 'RELIANCE.NS', 'RUT']

In [25]:
for file_path,p in zip(list_to_make_changes,prefix):
    data=pd.read_csv(file_path)

    data=add_prefix_function(data,f"{p}_")

    data.to_csv(f'{p}.csv',index=False)

In [26]:
df=pd.read_csv('/kaggle/working/BSESN.csv')

In [27]:
df.head(5)

,BSESN_Date,BSESN_Open,BSESN_High,BSESN_Low,BSESN_Close,BSESN_Adj Close,BSESN_Volume
0,2003-07-13,3704.629883,3726.560059,3704.629883,3720.750000,3720.750000,21200
1,2003-07-14,3719.169922,3733.879883,3657.179932,3686.340088,3686.340088,22800
2,2003-07-15,3702.139893,3729.020020,3662.699951,3721.649902,3721.649902,18400
3,2003-07-16,3728.840088,3750.000000,3660.340088,3668.909912,3668.909912,22000
4,2003-07-17,3651.389893,3684.229980,3625.729980,3647.580078,3647.580078,22000

# Merging all files

In [28]:
!rm /kaggle/working/RELIANCE.NS.csv

In [29]:
files_to_merge=glob.glob('/kaggle/working/*.csv')